; -*- mode: clojure; -*-
; vim: filetype=clojure

(include "mycorp/output/email.clj")
(include "mycorp/system/ram.clj")
(include "mycorp/system/cpu.clj")
(include "mycorp/system/disk.clj")
(include "mycorp/app/api.clj")

(require '[mycorp.system.ram :as ram]
         '[mycorp.system.disk :as disk]
         '[mycorp.system.cpu :as cpu]
         '[mycorp.app.api :as api])

(logging/init {:file "/var/log/riemann/riemann.log"})

(let [host "0.0.0.0"]
  (tcp-server {:host host})
  (udp-server {:host host}))

(periodically-expire 10)

(streams
  ram/ram-stream
  api/signin-failures
  disk/disk-stream
  api/signin-failures
  cpu/cpu-mean-alert-cassandra)
