; -*- mode: clojure; -*-
; vim: filetype=clojure

(include "mycorp/system/ram.clj")

(require '[mycorp.system.ram :as ram])

(logging/init {:file "/var/log/riemann/riemann.log"})

(let [host "0.0.0.0"]
  (tcp-server {:host host})
  (udp-server {:host host}))

(periodically-expire 10)

(streams
 ram/ram-stream)
